In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-21 03:55:03,-23.1203,-134.9692,73.26,77,0,5.70
1,1,Puerto Baquerizo Moreno,EC,2022-07-21 03:55:53,-0.9000,-89.6000,69.24,78,97,14.74
2,2,Yellowknife,CA,2022-07-21 03:55:54,62.4560,-114.3525,66.72,45,75,5.75
3,3,Makasar,ID,2022-07-21 03:55:54,-5.1400,119.4221,89.65,62,20,2.30
4,4,Provideniya,RU,2022-07-21 03:55:54,64.3833,-173.3000,44.71,70,75,18.01

Confirm the data types for the data columns are integers or floating-point decimal numbers.

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Create a maximum temp heatmap.

# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Create a Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Create a Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Create a Wind Speed Heatmap

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Makasar,ID,2022-07-21 03:55:54,-5.1400,119.4221,89.65,62,20,2.30
8,8,Popondetta,PG,2022-07-21 03:55:57,-8.7537,148.2534,88.95,52,87,7.83
11,11,Albany,US,2022-07-21 03:55:37,42.6001,-73.9662,81.18,71,15,4.94
14,14,Hilo,US,2022-07-21 03:53:32,19.7297,-155.0900,80.28,87,24,1.01
15,15,Praya,CV,2022-07-21 03:55:59,14.9215,-23.5087,77.54,88,20,5.75
18,18,Vaini,TO,2022-07-21 03:56:00,-21.2000,-175.2000,78.96,83,20,9.22
19,19,Bathsheba,BB,2022-07-21 03:46:24,13.2167,-59.5167,83.01,96,40,17.27
21,21,Georgetown,MY,2022-07-21 03:54:14,5.4112,100.3354,87.73,76,20,5.01
25,25,Hithadhoo,MV,2022-07-21 03:56:02,-0.6000,73.0833,80.78,71,100,5.28
27,27,Sao Filipe,CV,2022-07-21 03:56:03,14.8961,-24.4956,75.18,90,46,4.94

In [11]:
# Determine if there is any null values in the perferred cities dataframe.
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

Get Travel Destinations

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3      Makasar      ID     89.65  -5.1400  119.4221
8   Popondetta      PG     88.95  -8.7537  148.2534
11      Albany      US     81.18  42.6001  -73.9662
14        Hilo      US     80.28  19.7297 -155.0900
15       Praya      CV     77.54  14.9215  -23.5087
18       Vaini      TO     78.96 -21.2000 -175.2000
19   Bathsheba      BB     83.01  13.2167  -59.5167
21  Georgetown      MY     87.73   5.4112  100.3354
25   Hithadhoo      MV     80.78  -0.6000   73.0833
27  Sao Filipe      CV     75.18  14.8961  -24.4956

Retrieve Hotels from a Nearby Search

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

Iterate Through hotel_df DataFrame

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

             City Country  Max Temp      Lat       Lng              Hotel Name
3         Makasar      ID     89.65  -5.1400  119.4221       Aryaduta Makassar
8      Popondetta      PG     88.95  -8.7537  148.2534     Timos Transit House
11         Albany      US     81.18  42.6001  -73.9662
14           Hilo      US     80.28  19.7297 -155.0900     Hilo Hawaiian Hotel
15          Praya      CV     77.54  14.9215  -23.5087           LT Aparthotel
..            ...     ...       ...      ...       ...                     ...
558  Fort Madison      US     75.88  40.6298  -91.3151            Kingsley Inn
561           Gao      ML     82.40  16.6362    1.6370
562        Marzuq      YE     75.27  14.4000   46.4667
564      Denpasar      ID     83.86  -8.6500  115.2167  OYO 3156 Hotel Warta 2
565         Zunyi      CN     79.65  27.6867  106.9072         Bishiluo Hostel

[196 rows x 6 columns]

Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))